<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap ps-5">
    <a href="http://localhost:4200" class="navbar-brand col-sm-3 col-md-2 mr-0">EForhum Lab</a>
</nav>
<div class="container">
    <div class="row p-5">

    </div>
    <div class="row">
        <div class="col-sm-3">

        </div>
        <div class="col-sm-6 shadow p-3 mb-5 bg-body rounded">
            <div class="mb-3">
                <h5>Login to Spotify</h5>
                <p></p>
                <button class="btn btn-primary" (click) = "login()">Login</button>
            </div>
        </div>
        <div class="col-sm-3">
    
        </div>
    </div>
</div>            